<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Join Existing Game</h4>
</div>
<div class="modal-body">
  <label for="gameId">Insert Game ID</label>
  <input id="gameId" class="form-control" type="text" placeholder="Game ID" min="32" max="32" [(ngModel)]="gameId"/>
  <label for="gameId">Your Nickname</label>
  <input id="playerNickname" class="form-control" type="text" placeholder="Nickname" min="4" max="32" [(ngModel)]="playerNickname"/>
  <br *ngIf="errorMsg != null"/>
  <div class="alert alert-danger" *ngIf="errorMsg != null">
    <p><b>ERROR:</b> {{ errorMsg }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="close()">Join</button>
</div>
