#konva-canvas {
  margin: auto;
  width: 1220px;
  height: 1220px;
  padding: 1em;
}

// Popup style for context menus
#context-menu {
  display: none;
  position: absolute;
  width: 8rem;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem black;

  hr {
    margin: 0;
  }

  p {
    color: gray;
    text-align: center;
    background-color: whitesmoke;
    border: none;
    margin: 0;
    padding: 0.5rem;
  }

  button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 0.5rem;
  }

  button:hover {
    background-color: lightgray;
  }
}
