.root {
  width: 18vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100vh;
  margin-top: 1rem;
  margin-right: 1rem;
}

.log-entry-container {
  padding-bottom: 0.5rem;
}

.log-entry-title {
  text-align: center;
  min-height: 3vh;
  font-size: 1rem;
  padding: 0.4rem 0 0.2rem 0.6rem;
  align-content: center;
}

.log-entry-text {
  min-height: 3vh;
  font-size: 1rem;
  padding: 0.6rem;
  align-content: center;
}

.card-notice {
  background-color: rgba(31, 138, 162, 0.4);
}

.card-interaction {
  background-color: rgba(162, 123, 31, 0.4);
}

.buttons-container {
  display: flex;

  button {
    width: 100%;
  }
}
