<div class="root">
  @for (msg of _messages; track msg.id; let i = $index) {
    <div class="log-entry-container">
      <!-- double mat-card here to allow changing card background opacity while keeping a solid color underneath -->
      <mat-card>
        <mat-card appearance="outlined" [ngClass]="{'card-interaction': msg.content.logType === ServiceLogType.Interaction}">
          <div class="log-entry-text">
            {{ msg.content.message }}
          </div>
          @if (msg.content.logType === ServiceLogType.Interaction) {
            <button mat-button>Show me</button>
          }
          @if (msg.expiry != null) {
            <mat-progress-bar [value]="msg.expiry.progressBarVal()"></mat-progress-bar>
          }
        </mat-card>
      </mat-card>
    </div>
  }
</div>
